<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
    </head>

    <body>
        <%- include('partials/header'); %>
        <div class="page">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="container-xl">
                        <div class="row row-deck row-cards" >
                            <div class ="col-sm-12 col-md-6 col-lg-6 col-xl-6 py-2">
                                <div class="card">
                                    
                                    <div class="card-body align-items-center justify-content-center">
                                        <img src="logo.gif" class="img-fluid">
                                        <h3 class="card-title">Sistema de alarma y monitoreo de amenazas naturales</h3>
                                    </div>
                                </div>
                            </div>
                            <div class ="col-sm-12 col-md-6 col-lg-6 col-xl-6 py-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-3">
                                        <label class="form-label">Equipo Proyecto</label>
                                        <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                                            <label class="form-selectgroup-item flex-fill">
                                            <input type="checkbox" name="form-project-manager[]" value="1" class="form-selectgroup-input" >
                                            <div class="form-selectgroup-label d-flex align-items-center p-3">
                                                <div class="me-3">
                                                <span class="form-selectgroup-check"></span>
                                                </div>
                                                <div class="form-selectgroup-label-content d-flex align-items-center">
                                                <span class="avatar me-3" style="background-image: url(./static/avatars/betza.jpeg)"></span>
                                                <div>
                                                    <div class="font-weight-medium">Betzabe</div>
                                                    <div class="text-muted">Telecomunicaciones</div>
                                                </div>
                                                </div>
                                            </div>
                                            </label>
                                            <label class="form-selectgroup-item flex-fill">
                                            <input type="checkbox" name="form-project-manager[]" value="2" class="form-selectgroup-input"  checked>
                                            </label>
                                            <label class="form-selectgroup-item flex-fill">
                                            <input type="checkbox" name="form-project-manager[]" value="3" class="form-selectgroup-input" >
                                            <div class="form-selectgroup-label d-flex align-items-center p-3">
                                                <div class="me-3">
                                                <span class="form-selectgroup-check"></span>
                                                </div>
                                                <div class="form-selectgroup-label-content d-flex align-items-center">
                                                <span class="avatar me-3" style="background-image: url(./static/avatars/daniel.jpeg)"></span>
                                                <div>
                                                    <div class="font-weight-medium">Daniel</div>
                                                    <div class="text-muted">Ingenieria Electronica</div>
                                                </div>
                                                </div>
                                            </div>
                                            </label>
                                            <label class="form-selectgroup-item flex-fill">
                                            <input type="checkbox" name="form-project-manager[]" value="4" class="form-selectgroup-input" >
                                            <div class="form-selectgroup-label d-flex align-items-center p-3">
                                                <div class="me-3">
                                                <span class="form-selectgroup-check"></span>
                                                </div>
                                                <div class="form-selectgroup-label-content d-flex align-items-center">
                                                <span class="avatar me-3" style="background-image: url(./static/avatars/juan.jpeg)"></span>
                                                <div>
                                                    <div class="font-weight-medium">Juan</div>
                                                    <div class="text-muted">Ingenieria Electrica</div>
                                                </div>
                                                </div>
                                            </div>
                                            </label>
                                            <label class="form-selectgroup-item flex-fill">
                                            <input type="checkbox" name="form-project-manager[]" value="5" class="form-selectgroup-input" >
                                            <div class="form-selectgroup-label d-flex align-items-center p-3">
                                                <div class="me-3">
                                                <span class="form-selectgroup-check"></span>
                                                </div>
                                                <div class="form-selectgroup-label-content d-flex align-items-center">
                                                <span class="avatar me-3" style="background-image: url(./static/avatars/pablo.jpeg)"></span>
                                                <div>
                                                    <div class="font-weight-medium">Pablo</div>
                                                    <div class="text-muted">Ingenieria Agronomica</div>
                                                </div>
                                                </div>
                                            </div>
                                            </label>
                                        </div>
                                        </div>
                                </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <%- include('partials/footer'); %>
    <script src="./dist/js/tabler.min.js" defer></script>
    <script src="./dist/js/demo.min.js" defer></script>
    </body>
</html>

